Repository kiotosi/snip.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, prettier --write

feat(rust): Add rust source files
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/icon@1024.png
  src-tauri/icons/icon@128.png
  src-tauri/icons/icon@256.png
  src-tauri/icons/icon@32.png
  src-tauri/icons/icon@48.png
  src-tauri/icons/icon@64.png
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: none

feat(less): Add less files
  src/less/colors.less
  src/less/fonts.less
  src/less/index.less
  src/less/mixins.less
Due: none

feat(leftmenu): Implement folder view for left menu
  .eslintignore
  pnpm-lock.yaml
  src/App.vue
  src/components/Leftmenu/LeftmenuFolder/FolderItem.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuMain.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/Leftmenu/LeftmenuSnippets/SnippetsItem.vue
  src/define.ts
  src/less/colors.less
  src/less/index.less
  src/less/mixins.less
  src/main.ts
  src/snippet.prism.js
  src/typescript/types/leftmenuFolder.ts
  src/views/CurrentSnippetView.vue
  src/views/EmptySnippetView.vue
  src/vite-env.d.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(alpha): First version of snippet manager picker
  snippets.example.json
  src/App.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuMain.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/Leftmenu/LeftmenuSnippets/SnippetsItem.vue
  src/components/Snippet/SnippetCode.vue
  src/components/Snippet/SnippetDescription.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/components/Snippet/SnippetTitle.vue
  src/define.ts
  src/store/pager.store.ts
  src/store/snippets.store.ts
  src/typescript/system.ts
  src/typescript/types/leftmenuFolder.ts
  src/typescript/types/pagerStore.ts
  src/typescript/types/snippetsStore.ts
  src/views/CurrentSnippetView.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat(alpha): Add features for adding folders and snippets. Also add remove for directories
  snippets.example.json
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/Leftmenu/LeftmenuAdd/LeftmenuAdd.vue
  src/components/Leftmenu/LeftmenuFolder/FolderItem.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/Snippet/SnippetCode.vue
  src/components/Snippet/SnippetDescription.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/components/Snippet/SnippetTitle.vue
  src/store/snippets.store.ts
  src/typescript/creator.ts
  src/typescript/system.ts
  src/typescript/types/snippetsStore.ts
  src/views/CurrentSnippetView.vue
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(alpha): Add feature to remove snippet. Add save to the code field
  .github/workflow/release.yaml
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/Snippet/SnippetCode.vue
  src/views/CurrentSnippetView.vue
Due: none

feat(rename): Renamed workflow to workflows
  .github/workflows/release.yaml
Due: none

feat(workflow): Add workflow for building
  .github/workflows/release.yaml
Due: none

feat(hotfixes): Hotfix to alpha version
  snippets.example.json
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/store/snippets.store.ts
  src/views/CurrentSnippetView.vue
Due: prettier --ignore-unknown --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

fix(workflow): Fixed name of branch
  .github/workflows/release.yaml
Due: none

fix(workflow): Add ability to manualy create a workflow
  .github/workflows/release.yaml
Due: none

fix(minor): Miror fixes and #1
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Snippet/SnippetCode.vue
  src/components/Snippet/SnippetDescription.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/components/Snippet/SnippetTitle.vue
  src/views/CurrentSnippetView.vue
Due: none

fix(linter): Add linter fix
  .lintstagedrc
  src-tauri/build.rs
  src-tauri/src/config.rs
  src-tauri/src/main.rs
Due: none

fix(empty-screen): Empty screen is overflowing page
  src/views/EmptySnippetView.vue
Due: none

feat(rename): #2
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
Due: none

feat(placeholder): Add placeholders to leftmenu #3
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuPlaceholder/LeftmenuPlaceholder.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/views/EmptySnippetView.vue
  tsconfig.json
Due: none

feat(autosave): File is now writing after every change in store #4
  src/App.vue
  src/typescript/saver.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(colorscheme): Add css variables to colorscheme
  src/App.vue
  src/components/Leftmenu/LeftmenuAdd/LeftmenuAdd.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
  src/components/Leftmenu/LeftmenuMain.vue
  src/components/Leftmenu/LeftmenuPlaceholder/LeftmenuPlaceholder.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/Snippet/SnippetCode.vue
  src/components/Snippet/SnippetDescription.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/components/Snippet/SnippetTitle.vue
  src/less/colors.less
  src/views/EmptySnippetView.vue
Due: none

feat(colorscheme): Add colorscheme for night theme
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Snippet/SnippetCode.vue
  src/less/colors.less
  src/less/fonts.less
  src/less/index.less
  src/less/scrollbar.less
  src/views/CurrentSnippetView.vue
Due: none

feat(version): Changed version to 0.0.2
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat(colorscheme): Add css variables to colorscheme
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  .prettierrc
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/define.ts
  src/store/pager.store.ts
  src/store/snippets.store.ts
  src/typescript/saver.ts
  src/typescript/system.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(modal): Add modal windows for deletion
  src/App.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/ModalWindow/ModalDialog.vue
  src/less/colors.less
  src/typescript/types/modalWindow.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(fonts): Add fonts; Remove decorations; Add transition for modalWindow
  public/fonts/Overpass_Mono/OFL.txt
  public/fonts/Overpass_Mono/OverpassMono-Bold.ttf
  public/fonts/Overpass_Mono/OverpassMono-Light.ttf
  public/fonts/Overpass_Mono/OverpassMono-Medium.ttf
  public/fonts/Overpass_Mono/OverpassMono-Regular.ttf
  public/fonts/Overpass_Mono/OverpassMono-SemiBold.ttf
  public/fonts/Overpass_Mono/README.txt
  src-tauri/tauri.conf.json
  src/components/ModalWindow/ModalDialog.vue
Due: none

fix(decorations): Return decorations to the window
  src-tauri/tauri.conf.json
Due: none

fix(linter): Fixed linter config and some minor formatting
  .eslintrc.cjs
  .lintstagedrc
  package.json
  src/components/Leftmenu/LeftmenuAdd/LeftmenuAdd.vue
  src/components/Leftmenu/LeftmenuPlaceholder/LeftmenuPlaceholder.vue
  src/components/Snippet/SnippetCode.vue
  src/components/Snippet/SnippetDescription.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/components/Snippet/SnippetTitle.vue
  src/less/colors.less
  src/less/index.less
  src/store/snippets.store.ts
  src/typescript/system.ts
  src/views/CurrentSnippetView.vue
  src/views/EmptySnippetView.vue
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(menu): Add context menu
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
Due: none

feat(version): Changed version to 0.0.3
  .github/workflows/release.yaml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat(search): Add search window; Rewrite one name convention
  .eslintrc.cjs
  src/App.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolder.vue
  src/components/Leftmenu/LeftmenuFolder/LeftmenuFolderItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippets.vue
  src/components/ModalWindow/ModalSearch/ModalSearch.vue
  src/components/Snippet/SnippetLanguageSelector.vue
  src/store/snippets.store.ts
  src/typescript/creator.ts
  src/typescript/saver.ts
  src/typescript/search.ts
  src/typescript/types/modalWindow.ts
  src/typescript/types/snippetsStore.ts
  src/views/CurrentSnippetView.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat(search): Add search algorithm
  src-tauri/src/config.rs
  src-tauri/src/menu.rs
  src/App.vue
  src/components/Leftmenu/LeftmenuSnippets/LeftmenuSnippetItem.vue
  src/components/ModalWindow/ModalSearch/ModalSearch.vue
  src/components/ModalWindow/ModalSearch/ModalSearchEmpty.vue
  src/components/ModalWindow/ModalSearch/ModalSearchItems.vue
  src/define.ts
  src/less/colors.less
  src/typescript/handler/keyboardHandler.ts
  src/typescript/saver.ts
  src/typescript/search.ts
  src/typescript/types/modalWindow.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(version): Changed version to 0.0.4
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Path conditions:
  prettier --ignore-unknown --write: any of: *.{t,j}s
  eslint --fix: any of: *.{t,j}s
  prettier --write: any of: *.md
